.App {
	text-align: center;
	background-color: lightblue;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.signup-image img {
	height: 8rem;
	width: 8rem;
}

.signin-image img {
	height: 8rem;
	width: 8rem;
}

.home-page .home-div {
	margin-top: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.home-page .home-div p {
	color: blue;
}

.home-page .home-div h1 {
	font-size: 40px;
	font-weight: 800;
	text-transform: capitalize;
	margin-bottom: 30px;
}
